<md-grid-list cols="6" rowHeight="275" gutterSize="10">
  <md-grid-tile *ngFor="let employee of employees" [colspan]="2" [rowspan]="2">
    <md-card class="example-card">
      <md-card-header>
        <md-card-title>{{employee.name}}</md-card-title>
        <md-card-subtitle>{{employee.position}}</md-card-subtitle>
      </md-card-header>
      <img md-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
      <md-card-actions>
        <button md-fab><md-icon>notifications_active</md-icon></button>
      </md-card-actions>
    </md-card>
  </md-grid-tile>
</md-grid-list>
