<div class="parent" (click)="deSelect()">
  <div class="contain">
    <h1>Angular - Electron - Resin</h1>
    <input type="text">
    <div class="row">
      <div class="row__inner" [class.selected]="selectedEmployeeId > 0">
        <div class="tile" *ngFor="let employee of employees" [class.selected]="employee.id === selectedEmployeeId" (click)="selectEmployee(employee,$event)">
          <div class="tile__media">
            <img class="tile__img" [src]="employee.profilePictureUrl" alt="" />
          </div>
          <div class="tile__details">
            <div class="tile__title">
              {{employee.name}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
